[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
geopandas = "*"


[dev-packages]

pylint = "*"
black = "==19.3b0"


[requires]

python_version = "3.6"
